/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for genome configuration paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes configurations using local paths
----------------------------------------------------------------------------------------
*/

params {
    // Genome reference file paths for ge
    local_genomes_base = "/mnt/sas0/AD/lalli/nf_stage/genome_refs"
    genomes {
        'GRCh38_p1_gencode21' {
            fasta       = "${params.local_genomes_base}/GRCh38_p1_gencode21/GRCh38.genome.fasta"
//            bwa         = "${params.local_genomes_base}/GRCh38_p1_gencode21/NCBI/GRCh38/Sequence/BWAIndex/version0.6.0/"
//            bowtie2     = "${params.local_genomes_base}/GRCh38_p1_gencode21/NCBI/GRCh38/Sequence/Bowtie2Index/"
//            star        = "${params.local_genomes_base}/GRCh38_p1_gencode21/NCBI/GRCh38/Sequence/STARIndex/"
//            bismark     = "${params.local_genomes_base}/GRCh38_p1_gencode21/NCBI/GRCh38/Sequence/BismarkIndex/"
//            gtf         = "${params.local_genomes_base}/GRCh38_p1_gencode21/genes.gtf"
//            bed12       = "${params.local_genomes_base}/GRCh38_p1_gencode21/genes.bed"
            gff         = "${params.local_genomes_base}/GRCh38_p1_gencode21/gencode.v21.chr_patch_hapl_scaff.annotation.gff"
            gencode     = true
//            mito_name   = "chrM"
//            macs_gsize  = "2.7e9"
//            blacklist   = "${params.local_genomes_base}/GRCh38_p1_gencode21/hg38-blacklist.bed"
        }
        'GRCh38_p13_gencode32' {  // from 10X
            fasta       = "${params.local_genomes_base}/GRCh38_p13_gencode32/genome.fa"
//            bwa         = "${params.local_genomes_base}/GRCh38_p13_gencode32/NCBI/GRCh38/Sequence/BWAIndex/version0.6.0/"
//            bowtie2     = "${params.local_genomes_base}/GRCh38_p13_gencode32/NCBI/GRCh38/Sequence/Bowtie2Index/"
            star        = "${params.local_genomes_base}/GRCh38_p13_gencode32/star_align_index/"
//            bismark     = "${params.local_genomes_base}/GRCh38_p13_gencode32/NCBI/GRCh38/Sequence/BismarkIndex/"
            gtf         = "${params.local_genomes_base}/GRCh38_p13_gencode32/genes.gtf"
//            bed12       = "${params.local_genomes_base}/GRCh38_p13_gencode32/genes.bed"
//            gff         = "${params.local_genomes_base}/GRCh38_p13_gencode32/genes.gff"
            gencode     = true
//            mito_name   = "chrM"
//            macs_gsize  = "2.7e9"
//            blacklist   = "${params.local_genomes_base}/GRCh38_p13_gencode32/hg38-blacklist.bed"
        }
        'GRCh38_p13_gencode40' {
            fasta       = "${params.local_genomes_base}/GRCh38_p13_gencode40/GRCh38.p13.genome.fasta"
//            bwa         = "${params.local_genomes_base}/GRCh38_p13_gencode40/NCBI/GRCh38/Sequence/BWAIndex/version0.6.0/"
//            bowtie2     = "${params.local_genomes_base}/GRCh38_p13_gencode40/NCBI/GRCh38/Sequence/Bowtie2Index/"
//            star        = "${params.local_genomes_base}/GRCh38_p13_gencode40/NCBI/GRCh38/Sequence/STARIndex/"
//            bismark     = "${params.local_genomes_base}/GRCh38_p13_gencode40/NCBI/GRCh38/Sequence/BismarkIndex/"
//            gtf         = "${params.local_genomes_base}/GRCh38_p13_gencode40/genes.gtf"
//            bed12       = "${params.local_genomes_base}/GRCh38_p13_gencode40/genes.bed"
            gtf         = "${params.local_genomes_base}/GRCh38_p13_gencode40/gencode.v40.chr_patch_hapl_scaff.annotation.gff"
            gencode     = true
//            mito_name   = "chrM"
//            macs_gsize  = "2.7e9"
//            blacklist   = "${params.local_genomes_base}/GRCh38_p13_gencode40/hg38-blacklist.bed"
        }
        'GRCh38_p14_ncbi110' {
            fasta       = "${params.local_genomes_base}/GRCh38_p14_ncbi110/GCF_000001405.40_GRCh38.p14_genomic.fasta"
//            bwa         = "${params.local_genomes_base}/GRCh38_p14_ncbi110/NCBI/GRCh38/Sequence/BWAIndex/version0.6.0/"
//            bowtie2     = "${params.local_genomes_base}/GRCh38_p14_ncbi110/NCBI/GRCh38/Sequence/Bowtie2Index/"
//            star        = "${params.local_genomes_base}/GRCh38_p14_ncbi110/NCBI/GRCh38/Sequence/STARIndex/"
//            bismark     = "${params.local_genomes_base}/GRCh38_p14_ncbi110/NCBI/GRCh38/Sequence/BismarkIndex/"
//            gtf         = "${params.local_genomes_base}/GRCh38_p14_ncbi110/genes.gtf"
//            bed12       = "${params.local_genomes_base}/GRCh38_p14_ncbi110/genes.bed"
            gtf         = "${params.local_genomes_base}/GRCh38_p14_ncbi110/GCF_000001405.40_GRCh38.p14_genomic.gff"
//            mito_name   = "chrM"
//            macs_gsize  = "2.7e9"
//            blacklist   = "${params.local_genomes_base}/GRCh38_p14_ncbi110/hg38-blacklist.bed"
        }
        'T2T-CHM13_v2_CAT_liftoff' {
            fasta       = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/chm13v2.0_maskedY.fasta"
//            bwa         = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/NCBI/GRCh38/Sequence/BWAIndex/version0.6.0/"
//            bowtie2     = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/NCBI/GRCh38/Sequence/Bowtie2Index/"
//            star        = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/NCBI/GRCh38/Sequence/STARIndex/"
//            bismark     = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/NCBI/GRCh38/Sequence/BismarkIndex/"
//            gtf         = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/genes.gtf"
//            bed12       = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/genes.bed"
            gtf         = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/chm13.draft_v2.0.gene_annotation.gff"
//            mito_name   = "chrM"
//            macs_gsize  = "2.7e9"
//            blacklist   = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/hg38-blacklist.bed"
        }
        'T2T-CHM13_v2_ncbi110' {
            fasta       = "${params.local_genomes_base}/T2T-CHM13_v2_ncbi110/GCF_009914755.1_T2T-CHM13v2.0_genomic.fasta"
//            bwa         = "${params.local_genomes_base}/T2T-CHM13_v2_ncbi110/NCBI/GRCh38/Sequence/BWAIndex/version0.6.0/"
//            bowtie2     = "${params.local_genomes_base}/T2T-CHM13_v2_ncbi110/NCBI/GRCh38/Sequence/Bowtie2Index/"
//            star        = "${params.local_genomes_base}/T2T-CHM13_v2_ncbi110/NCBI/GRCh38/Sequence/STARIndex/"
//            bismark     = "${params.local_genomes_base}/T2T-CHM13_v2_ncbi110/NCBI/GRCh38/Sequence/BismarkIndex/"
//            gtf         = "${params.local_genomes_base}/T2T-CHM13_v2_ncbi110/genes.gtf"
//            bed12       = "${params.local_genomes_base}/T2T-CHM13_v2_ncbi110/genes.bed"
            gtf         = "${params.local_genomes_base}/T2T-CHM13_v2_ncbi110/GCF_009914755.1_T2T-CHM13v2.0_genomic.gff"
//            mito_name   = "chrM"
//            macs_gsize  = "2.7e9"
//            blacklist   = "${params.local_genomes_base}/T2T-CHM13_v2_CAT_liftoff/hg38-blacklist.bed"
        }
    }
}
